
/* Navbar */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  width: 90%;
  font-size: 1.2rem;
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logo img {
  width: 4rem;
}
.logo span {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
}

.navLinks ul {
  display: flex;
  flex-direction: row;
}
.navLinks ul li {
  list-style: none;
}
.navLinks ul li a {
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  margin: auto 0.5rem;
  border-radius: 0.5rem;
}
.navLinks ul li a:hover {
  background-color: rgb(119, 181, 236);
  color: white;
}




/* Home Page  */
.main-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.greeting {
  text-align: center;
  font-size: 1.8rem;
  margin: 15% auto;
}
.greeting span {
  color: rgb(51, 0, 255);
  font-size: 3.5rem;
}
.greeting a {
  text-decoration: none;
  font-size: 1.3rem;
  background-color: rgb(54, 130, 244);
  color: white;
  padding: 0.7rem 2rem;
  border-radius: 2rem;
}
.greeting a:hover {
  background-color: rgb(5, 62, 112);
}
.img img {
  margin: 10%;
  width: 30rem;
  border-radius: 2rem;
  animation: floating infinite 4s;
}


/* Login Page */
.login {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 25%;
  padding: 2rem;
}
.login h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 800;
}
.login form {
  display: flex;
  flex-direction: column;
}
.form-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.8rem 0;
}
.form-data {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-style: hidden;
  border-bottom: 2px solid black;
  text-align: left;
}
.form-data:focus {
  outline: none;
}
.form-group div {
  display: flex;
}
.submit-button {
  width: 40%;
  background-color: rgb(37, 110, 37);
  color: white;
  border-radius: 1rem;
  padding: 0.7rem 1rem;
  margin: 1rem;
  font-weight: 600;
}
.submit-button:hover {
  background-color: rgb(6, 139, 6);
  cursor: pointer;
}
.form-remainder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem;
}
.login a {
  text-align: left;
  text-decoration: none;
}
.react-icon {
  width: 1.4rem;
  height: 1.4rem;
}


@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 15px);
  }

  100% {
    transform: translate(0, 0px);
  }
}